@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.registerForm {
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 1.2rem;
  &__card {
    width: 100%;
    padding: 1.2rem 2.4rem;
    margin: 1.2rem 2.4rem;
    border-radius: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  &__card-header {
    border-bottom: 1px solid $color-lightgrey;
  }
  &__card-body {
    padding: 1rem;
  }
  &__card-footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
  }

  button {
    width: 100%;
    height: 4.4rem;
    border-radius: 20px;
  }
  &__button--save {
    background-color: $color-bell-blue;
    color: #fff;
    &:hover {
      background-color: #2960a2;
    }
  }
  &__button--cancel {
    background-color: $color-white;
    color: $color-is-black;
    border: 1px solid $color-lightgrey;
    &:hover {
      background-color: $color-lightgrey;
    }
  }
  &__food {
    // display: flex;
    &-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      
    }
    &-img {
      padding: 1rem;
      height: 13.40vw;
      width: 23.888888vw;

      margin: 0 1.5rem 1.5rem 0;
          &--three, &--six, &--nine{
              margin-right: 0;
              // position: relative;
          
          }
          &--seven, &--eight, &--nine{
              margin-bottom: 2.5rem;
              // position: relative;
          }
          &_block{
            
            &-image{
              position: relative;
              width: 15rem;
              height: 12rem;
              margin: 0 1rem;
              z-index: -1;
            }
          
            &-title {
              padding: 1rem, 0;
              width: 15rem;
              text-wrap: wrap;
              margin-bottom: 1rem;
              @include body-medium;
            }
          }
          
    }
    
  }
}