@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.registerForm {
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 1.2rem;
  &__card {
    width: 100%;
    padding: 1.2rem 2.4rem;
    margin: 1.2rem 2.4rem;
    border-radius: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  &__card-header {
    border-bottom: 1px solid $color-lightgrey;
  }
  &__card-body {
    padding: 1rem;
  }
  &__card-footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
  }
  &__course-name{
    border: 1px solid $color-bell-blue;
    padding:0 1rem;
  }

  button {
    width: 100%;
    height: 4.4rem;
    border-radius: 20px;
  }
  &__button--save {
    background-color: $color-bell-blue;
    color: #fff;
    &:hover {
      background-color: #2960a2;
    }
  }
  &__button--cancel {
    background-color: $color-white;
    color: $color-is-black;
    border: 1px solid $color-lightgrey;
    &:hover {
      background-color: $color-lightgrey;
    }
  }
}

.card__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  padding: 1.2rem 2.4rem;
  margin: 1.2rem 2.4rem;
  border-radius: 24px;
  background-color: $color-white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.input__group-courses {
  width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.2rem;
}
