$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$pad-increment: 0.8rem;

$color-lightblack: #13182C;
$color-bell-blue: #003778;
$color-text-white: #c2cedf;
$color-text-black: #000000;
$color-white: #FFFFFF;
$color-slate: #5C667E; 
$color-cloud: #BDC5D5;
$color-graphite: #232940;
$color-lightgrey: #F7F8F9;
$color-green: #158463;
$color-red: #C94515;
$color-is-black: #000000;